@page "/"
@using Volo.Abp.AspNetCore.Components
@inherits AbpComponentBase
<PageTitle>Home</PageTitle>

@if (CurrentUser is null || !CurrentUser.IsAuthenticated)
{
    <p>You are not logged in yet, please <RadzenLink Icon="login" Path="/login">log in</RadzenLink></p>
}
else
{
    <h1>Hello, <RadzenLink Path="/account/manage#PersonalInfo" Text="@CurrentUser.UserName" /></h1>

    <p>Welcome to your new app.</p>
}
