@page "/"
@using Volo.Abp.AspNetCore.Components
@inherits AbpComponentBase
<PageTitle>Home</PageTitle>

<h1>Hello, <RadzenLink Path="/account/manage#PersonalInfo" Text="@CurrentUser.UserName" /></h1>

Welcome to your new app.

@code{
    
}